:root {
    --primary-color: #c7a17a;
    --backgrund-color: #f9f5f0;
    --dark-color: #151515;
    --highlight-color: #c7a17a; /* Añadido para el color de destacado */
}

html {
    font-size: 62.5%;
    font-family: "popoibns", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.container-hero {
    background-color: var(--backgrund-color);
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    padding: 0; /* Elimina cualquier padding */
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.container-logo {
    display: flex;
    align-items: center;
    margin-left: 2rem; /* Ajusta el margen izquierdo para separarlo del borde */
}

.container-logo h1 {
    margin: 0;
    padding: 0;
}

.container-logo h1 a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-left: -80rem; /* Añade un margen izquierdo para separarlo del ícono */
}

.container-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-link,
.cart-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

.user-link i,
.cart-link i {
    font-size: 24px; /* Ajusta el tamaño del ícono según sea necesario */
    margin-bottom: 5px; /* Espacio entre el ícono y el texto */
    display: block; /* Asegura que el ícono y el texto estén en bloques separados */
}

.user-link .text,
.cart-link .text {
    font-size: 14px; /* Ajusta el tamaño del texto según sea necesario */
    display: block; /* Hace que el texto esté en un bloque separado */
}

.container-user .fa-user {
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-radius: 1px solid #e2e2e2;
}

.container-user .fa-shop {
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}

.content-shopping-cart {
    display: flex;
    flex-direction: column;
}

.container-navbar {
    background-color: #c7a17a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars {
    display: none;
}

.menu {
    display: flex;
    gap: 5rem; /* Reducido el espacio entre los elementos del menú */
}

.menu li {
    list-style: none;
}

.menu li:first-child {
    margin-left: 2rem; /* Ajusta el margen izquierdo del primer elemento del menú */
}

.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after {
    content: ' ';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: #fff;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    padding: .3rem .3rem .3rem 1rem;
}

.search-form input {
    border: none;
    background-color: transparent;
    outline: none;
    padding: .4rem;
    font-size: 1.4rem;
    width: 1px;
    transition: width 0.4s ease;
}

.search-form input:focus {
    width: 20rem;
}

.search-form button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primary-color);
}


/*banner*/

.banner{
    background-image: linear-gradient(100deg, #000, #0000), url(MITONES-FAVORITOS.jpg);
    height: 60rem;
    background-size:cover;
    background-position: center;
}


.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}


.content-banner p{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;

}

.content-banner h2{
color: #fff;
font-size: 3.5rem;
font-weight: 500;
line-height: 1.2;
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}


/*contenido*/

.maim-content{
    background-color: var(--backgrund-color);
}


/*features*/

.container-features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-features i{
    font-size: 2.7rem;
    color: #c7a17a;
}

.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: #151515;
}


.feature-content p{
    color: #777;
    font-weight: 500;
}


/*categorias*/

.top-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

a {
    text-decoration: none;
}

.container-categories a {
    text-decoration: none;
}

.card-category {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
    text-align: center; /* Ensures all text inside the card is centered */
}

.category-pulseras {
    background-image: linear-gradient(#00000000, #000000), url(pulsera.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-llaveros {
    background-image: linear-gradient(#00000000, #000000), url(llaveros.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-dijes {
    background-image: linear-gradient(#00000000, #000000), url(dijes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-category p {
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.card-category span {
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    display: block; /* Ensures the span is treated as a block element */
    margin: 0 auto; /* Centers the span horizontally */
}

.card-category span::after {
    content: ' ';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.card-category span:hover {
    color: var(--primary-color);
}

/*top*/

.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span{
    color:#777;
    background-color: #fff;
    padding: .7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.container-options span.active{
    background-color: var(--primary-color);
    color: #fff;
}

/* Productos */

.container-products {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
}

.card-product {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 3rem); /* 4 items per row with gap */
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container-img {
    width: 100%;
    position: relative;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    transition: all .4s ease;
}

.button-group span {
    border: 1px solid var(--primary-color);
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

.button-group span:hover {
    background-color: var(--primary-color);
}

.button-group span i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.button-group span:hover i {
    color: #fff;
}

.card-product:hover .button-group {
    z-index: 0;
    right: -1rem;
}

.content-card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars i {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.content-card-product h3 {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
    text-align: center;
}

.content-card-product h3:hover {
    color: var(--primary-color);
}

.add-cart {
    border: 2px solid var(--primary-color);
    padding: 1rem;
    cursor: pointer;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensures button stretches to the container width */
}

.add-cart:hover {
    background-color: var(--primary-color);
}

.add-cart i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.add-cart:hover i {
    color: #fff;
}

.content-card-product .price {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

.content-card-product .price span {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: .5rem;
}


.button {
    display: inline-block;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.button-primary {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.button-primary:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.button-secondary {
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid var(--primary-color);
}

.button-secondary:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.button-tertiary {
    color: #fff;
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
}

.button-tertiary:hover {
    background-color: #fff;
    color: var(--dark-color);
}



/*footer*/

.footer{
    background-color: var(--primary-color);
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    gap: 3rem;
    justify-items: center;
}

.title-footer{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-account{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li{
list-style: none;
color: #fff;
font-size: 1.4rem;
font-weight: 300;
}

.information ul li a,
.my-account ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover{
color: var(--dark-color);
}

.redes-sociales{
    display: flex;
    gap: 1.5rem;
}

.redes-sociales span{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales  span i{
color: #fff;
font-size: 1.2rem;
}


.facebook{
    background-color: #3b5998;
}

.tiktok{
    background-color: #777;
}

.instagram{
    background-color: 	#FFC0CB;
}

.twitter{
    background-color: #00acee;
}


.copyright{
    display: flex;
    justify-content: space-between;
    padding-top:2rem;

    border-top: 1px solid #f9f9f9;
}

.copyright p{
    font-weight: 400;
    font-size: 1.6rem;
}




/* Media Queries */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .hero {
        padding: 2rem;
    }

    .customer-support {
        display: none;
    }

    .content-shopping-cart {
        display: none;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .navbar .fa-bars {
        display: block;
        color: #fff;
        font-size: 3rem;
    }

    .menu {
        display: none;
    }

    .content-banner {
        max-width: 50rem;
        margin: 0 auto;
        padding: 25rem 0;
    }

    .container-features {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }

    .card-features {
        padding: 2rem;
    }

    .heading-1 {
        font-size: 2.4rem;
    }

    .card-category {
        height: 12rem;
    }

    .card-category p {
        font-size: 2rem;
        text-align: center;
        line-height: 1;
    }

    .card-category span {
        font-size: 1.4rem;
    }

    .container-options {
        align-items: center;
    }

    .container-options span {
        text-align: center;
        padding: 1rem 2rem;
    }

    .container-products {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }

    .gallery {
        grid-template-rows: repeat(2, 15rem);
    }

    .container-blogs {
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        height: 52rem;
    }

    .menu-footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}

@media (max-width: 480px) {
    .container-logo {
        margin-left: 0.2rem; /* Ajuste para móvil */
    }

    .menu {
        flex-direction: column; /* Cambia a disposición de columna para móvil */
        gap: 1rem; /* Ajuste el espacio entre elementos del menú para móvil */
    }

    .menu li {
        margin-left: 0; /* Elimina el margen izquierdo de todos los elementos del menú para móvil */
    }
}